body {
  background-color: black;
  font-family: "Asap", sans-serif;
}
#container {
  /* This is a single-line comment */
  background-color: white;
  color: black;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}
.left-col {
  float: left;
}


.right-col {
  float: right;
}
.clearfix {
  clear: both;
}
h1 { 
  color: #A64AC9;
}